/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/bootstrap';
@import 'spinner';
@import 'utils';
@import 'rtl';
@import 'responsive';

@media print {
    .breadcrumb {
        display: none !important;
    }
}
body{
    background-color:  #E5E5E5;
}
.one{
    margin-top: 30px;
    margin-left: 20px;
    
    }
    .symbol{
       
        float: right;
        padding: 20px;
    }
    .symbol img{
        padding: 10px;
    }
    .reg{
        background-color: #FFFFFF;
         padding: 28px;
        width: 100%;
        border-radius: 30px 30px 30px 30px;
        // margin-left: 50px;
    }
    .reg p{
        color: #D04C8D;
    }
    // .con{
    //     background-color: #FFFFFF;
        
    
    //     padding: 5px;
    //     width: 100%;
    //     border-radius: 30px 30px 30px 30px;
    //     // margin-left: 20px;
    //     margin-right: 14px;
    //     padding: 10px;
    // }
    // .con p{
    //     color: #D04C8D;
    // }
    // .intern{
    //     background-color: #FFFFFF;
    //     padding: 5px;
       
    
    //     width: 100%;
    //     border-radius: 30px 30px 30px 30px;
    //     // margin-left: 20px;
    //     padding: 10px;
    // }

    // .intern p{
    //     color: #D04C8D;
    // }
    .circle{
        background-color:#FFFFFF ;
        // width: 350px;
        border-radius: 30px 30px 30px 30px;
       margin-top: 30px; 
    //    margin-left: 40PX;
       padding: 30px;
    }
    .circle p{ 
        text-align: center;
        color: #D04C8D;
    }
    .bar{
        background-color: #FFFFFF;
        width: 100%;
        padding: 90px;
        // margin-left: -350px;
        border-radius: 30px 30px 30px 30px;
        margin-top: 50px;
       
    }
   .chart{
       background-color: #FFFFFF;
      margin-top: 80px;
    //   margin-left: -350px;
    //   width: 650px;
      padding: 90px;
      border-radius: 30px 30px 30px 30px;
      width: 100%;
   }
   .graph img{
    //    width: 250px;
    //    display: block;
    //    margin: auto;
    width: 70%;
   }
   .dot img{
       
      margin-top: -50px;
      float: right;
   
   }
 
   
   .ul{
    width: 70%;
    margin:0 auto; 
     margin-top: 70px;
    }
    
   
   .content img{
       margin-top: 50px;
       width: 70%;
       margin-left: 20%;
   }
   .man img{
       width: 70%;
       display: block;
       margin: auto;
   }
   .right-content{
    display: flex;
    justify-content: end;
    padding: 30px;
}
.title-content{
    margin: 14px;
    
}
.footer{
    border: 2px solid #C9C9C9;
    margin-top: 30px;
    
}
.contact{


text-align: right;
}

// .padding{
//     margin-top: 120px;
// }
   
    @media only screen and (max-width:930px){
        // .content{
        //     img{
        //         width: 180px;
        //     }
        // }
        // .circle{
        //     margin-left: -10px;
        // }
        .chart{
            margin-top: 20px;
        }
        .reg{
            margin-top: 20px;
        }
       
        .bar{
            background-color: #FFFFFF;
            width: 100%;
            padding: 14px;
            // margin-left: -350px;
            border-radius: 30px 30px 30px 30px;
            margin-top: 50px;
           
        }
        .chart{
            background-color: #FFFFFF;
           margin-top: 20px;
         //   margin-left: -350px;
         //   width: 650px;
           padding: 14px;
           border-radius: 30px 30px 30px 30px;
           width: 100%;
        }
        .graph img{
            //    width: 250px;
            //    display: block;
            //    margin: auto;
            width: 70%;
           }
    }