<!-- <div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="one">
            <h1>good morning</h1>
        </div>
     </div>
    <div class="col-md-8 col-xs-12">
        <div class="symbol">
            <img src="../../../assets/images/Group 51.png">
            <img src="../../../assets/images/Vector (Stroke).png">
            <img src="../../../assets/images/image 36.png">
        </div>
    </div>
</div> -->


    <div class="right-content">
      <span class="ms-3">
        <img src="../../../assets/images/Group 51.png">
      </span>
      <span class="ms-3">
        <img src="../../../assets/images/Vector (Stroke).png">
      </span>
      <span class="ms-3">
        <img src="../../../assets/images/image 36.png">
      </span>
        </div>
        <div class="title-content">
          <p>Good Morning</p>
        </div>
 

<div class="row">
    <div class="col-md-4 col-xs-12">
<div class="reg">
    <h1>1200</h1>
    <p>registerd students</p>
</div>
    </div>
    <div class="col-md-4 col-xs-12">
<div class="reg">
    <h1>1200</h1>
    <p>registerd students</p>
</div>
    </div>
    <div class="col-md-4 col-xs-12">
<div class="reg">
    <h1>1200</h1>
    <p>registerd students</p>
</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="circle">
            <p>Assessment results on average</p>
           <div class="content">
            <img src="../../../assets/images/circles.png">
        </div>
            <div class="ul">
                <li>Ideas and opportunities</li>
                <li>Resources</li>
                <li>Into action</li>
            </div>
            <div class="man">
            <img src="../../../assets/images//man.png">
            </div>
        </div>

    </div>
    <div class="col-md-8">
      <div class="row">
          <div class="col-md-12 col-xs-12">
           <div class="bar">
               <p>compartive bar</p>
               <div class="dot">
                   <img src="../../../assets/images/dot.png">
               </div>

               
<div class="num" style="display: flex; justify-content: space-between">
    <h5>43%</h5>
    <p>english profishency</p>
    <h5>57%</h5>
  </div>

  <div class="progress">
    <div class="progress-bar" style="width: 43%; background-color: #504f8c" 
      ></div>
    <div class="progress-bar" style="width: 57%; background-color: #d04c8d">
    </div>
  </div> 
      
  <div class="num" style="display: flex; justify-content: space-between">
    <h5>19%</h5>
    <p>IT Skills</p>
    <h5>81%</h5>
  </div>
  <div class="progress">
    <div class="progress-bar" style="width: 19%; background-color: #504f8c" 
      ></div>
    <div class="progress-bar" style="width: 81%; background-color: #d04c8d">
    </div>
  </div> 

  <div class="num" style="display: flex; justify-content: space-between">
    <h5>68%</h5>
    <p>Employability Factors</p>
    <h5>32%</h5>
  </div>
  <div class="progress">
    <div class="progress-bar" style="width: 68%; background-color: #504f8c" 
      ></div>
    <div class="progress-bar" style="width: 32%; background-color: #d04c8d">
    </div>
  </div>

  <div class="num" style="display: flex; justify-content: space-between">
    <h5>94%</h5>
    <p>Other Factors</p>
    <h5>6%</h5>
  </div>
  <div class="progress">
    <div class="progress-bar" style="width: 94%; background-color: #504f8c" 
      ></div>
    <div class="progress-bar" style="width: 6%; background-color: #d04c8d">
    </div>
  </div> 
</div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="chart">
                <h1>Students</h1>
                
                <div class="dot">
                    <img src="../../../assets/images/dot.png">
                </div>
               <div class="graph">
                   <img src="../../../assets/images/Chart.png">
               </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>




<div class="footer"></div>

    <div class="row">
      <div class="col-md-6">
        <div class="locate">
        <p>Locate us:<br/>
          6th Floor, Surian Tower, 1, Jalan PJU 7/3, Mutiara Damansara, <br/>
          47810 Petaling Jaya, Selangor</p>
      </div>
      </div>
      <div class="col-md-6">
        <div class="contact">
        <p>Contact Us:
 +603 7839 7000</p>
 </div>
      </div>
    </div>




