<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
<img src="../../../../assets/images/my next.png">
<p>university</p>
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/dashboard">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>{{ 'Dashboard'  }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/charts']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>{{ 'students' }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/tables']" class="list-group-item">
            <i class="fa fa-fw fa-graduation-cap"></i>&nbsp;
            <span>{{ 'My University' }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/forms']" class="list-group-item">
            <i class="fa fa-fw fa-cog"></i>&nbsp;
            <span>{{ 'Settings' }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/bs-element']" class="list-group-item">
            <i class="fa fa-fw fa-question"></i>&nbsp;
            <span>{{ ' help' }}</span>
        </a>
        </div>
      